/servlets/peticionHTTP/nbproject/private/
/servlets/peticionHTTP/build/
/servlets/calculadora/nbproject/private/
/servlets/calculadora/build/
/servlets/cuadrante/nbproject/private/
/servlets/cuadrante/build/
/servlets/cuadrante jsonHTML/build/
/servlets/cuadrante jsonHTML/dist/
/servlets/carrito/nbproject/private/
/servlets/carrito/build/
/servlets/carrito/dist/
/carrito/build/
/carrito/dist/
/carrito/nbproject/private/
/carritoGson/nbproject/private/
/servlets/carritoGson/target/